html {
  color: #fff;
  box-sizing: border-box;
  font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
}

.header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  padding: 10px 20px;
  background: none;
  z-index: 2;
  font-weight: 600;
  &__nav {
    float: left;
    &-item {
      padding: 5px 0px;
      margin-right: 10px;
      display: inline-block;
      transition: all .3s ease-out;
      cursor: pointer;
      &:hover {
        border-bottom: 2px dotted #fff;
      }
    }
  }
  &__contact {
    height: 100%;
    float: right;
    a {
      display: inline-block;
      margin-left: 10px;
      transition: color .2s;
      &:hover {
        color: #fff59d;
      }
    }
  }
}

.main {
  .section {
    padding-top: 70px;
    .wrapper {
      position: relative;
      height: 100%;
      overflow: hidden;
    }
  }
  .welcome {
    background: #303f9f;
    .wrapper>* {
      transition: transform .5s ease-out;
      &.showcase {
        transform: translateY(-45px);
      }
    }
    &__main {
      position: relative;
      height: 100%;
      &__intro {
        position: absolute;
        top: 177px;
        left: 50%;
        transform: translateX(-50%);
        width: 98%;
        max-width: 400px;
        &-title {
          font-size: 70px;
          font-weight: 700;
        }
      }
    }
    &__next {
      width: 100%;
      height: 45px;
      text-align: center;
      line-height: 45px;
      background: #56bc8a;
      box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
      font-weight: bold;
      cursor: pointer;
    }
  }
  .projects {
    background: #56bc8a;
  }
  .about-me {
    background: #b388ff;
  }
}

.dots {
  position: absolute;
  top: 50%;
  left: 30px;
  z-index: 2;
  transform: translateY(-50%);
  &__dot {
    width: 16px;
    height: 16px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 3px solid #fff;
    opacity: .4;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    &.active {
      opacity: 1;
      background-color: #fff;
    }
  }
}
