* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #333;
}

.header {
  height: 40px;
  position: fixed;
  width: 100%;
  overflow: hidden;
  padding: 10px 20px;
  background-color: transparent;
  z-index: 2;
  font-weight: 500;
}

.header__brand {
  float: left;
  height: 100%;
  margin-right: 20px;
}

.header__nav {
  float: left;
  height: 100%;
}

.header__nav-item {
  height: 100%;
  display: inline-block;
  cursor: pointer;
}

.header__nav-item:hover, .header__nav-item.active {
  cursor: pointer;
}

.header__contact {
  height: 100%;
  float: right;
}

.main .section {
  overflow: hidden !important;
  margin: 0 auto;
  padding-top: 40px;
}

.main .welcome {
  background: #ffe57f;
}

.main .projects {
  background: #82b1ff;
}

.main .about-me {
  background: #b388ff;
}
